

/* 

div.nav{
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
    position:fixed;
}

div.nav > ul{
    list-style-type: none;
    
}

div.nav > ul > li{
    float: left;
    padding-right: 20px;
}

div.nav > ul > li > a{
    text-decoration: none;
    color: white;
    text-align: center;
} */
/* 
.boxContainer{
    display: none;
    background-color: rgb(16, 34, 12);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50;
    
} */
/* .boxContainer a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 0px 0px;
    padding: 10px;
}

.dropdown:hover .boxContainer{
    display: block;
}

.myProjects{
    text-align: center;
    color: white;
    background-color: #162127;
}

.myProjects h1{
    margin: 0;
    font-size: 3rem;
}

.projectItemContainerApprox{
    padding:100px 10%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(23,34,41,1) 0%, rgba(0,0,0,1) 100%);
    overflow: auto;
   
}

.projectImage{
    border-radius: 5%;
    width: 30%;
    float: right;
}

.projectItemContainerMultiApp{
    padding:100px 10%;
    background: #1F1F1F;
    background: -webkit-linear-gradient(top, #1F1F1F, #000000);
    background: -moz-linear-gradient(top, #1F1F1F, #000000);
    background: linear-gradient(to bottom, #1F1F1F, #000000);
    overflow: auto;
}

.projectItem-title{
    font-size: 2rem;
    text-align: left;
    padding-bottom: 20px;
}


.projectItem-title h3{
    margin: 0;
}


.projectItem-title p{
    width: 60%;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 5px;
}

.projectItem-title a{
    width: 60%;
    font-size: 1rem;
    text-align: left;
    color: orange;
}

.projectItem-imgs{
    display: flex; 
    justify-content: space-between;
} */
